{% extends 'base_index.html' %}
{% load static %}

{% block title %}
    <title>O mnie</title>
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}

    <h1 class="mt-10 mx-auto">O mnie</h1>
    <hr>

    <section class="section py-0">
        <div data-provide="slider" data-autoplay="true" data-slides-to-show="2" data-css-ease="linear" data-speed="12000" data-autoplay-speed="0" data-pause-on-hover="false">
            {% for c in cblog %}
                <div class="p-2">
                    <div class="rounded bg-img h-400" style="background-image: url({{ c.photo.url }});"></div>
                </div>
            {% endfor %}
            {% for c in cyoga %}
                <div class="p-2">
                    <div class="rounded bg-img h-400" style="background-image: url({{ c.photo.url }});"></div>
                </div>
            {% endfor %}
            {% for c in cvoice %}
                <div class="p-2">
                    <div class="rounded bg-img h-400" style="background-image: url({{ c.photo.url }});"></div>
                </div>
            {% endfor %}
            {% for c in cpilates %}
                <div class="p-2">
                    <div class="rounded bg-img h-400" style="background-image: url({{ c.photo.url }});"></div>
                </div>
            {% endfor %}
            {% for b in blog %}
                <div class="p-2">
                    <div class="rounded bg-img h-400" style="background-image: url({{ b.photo.url }});"></div>
                </div>
            {% endfor %}
            {% for y in yoga %}
                <div class="p-2">
                    <div class="rounded bg-img h-400" style="background-image: url({{ y.photo.url }});"></div>
                </div>
            {% endfor %}
            {% for v in voice %}
                <div class="p-2">
                    <div class="rounded bg-img h-400" style="background-image: url({{ v.photo.url }});"></div>
                </div>
            {% endfor %}
            {% for p in pilates %}
                <div class="p-2">
                    <div class="rounded bg-img h-400" style="background-image: url({{ p.photo.url }});"></div>
                </div>
            {% endfor %}
        </div>
    </section>
    <hr>
    <div class="container">
        <div class="text-center mt-10">
            <h1>Renata Król</h1>
            <p>Yoga Głos Pilates</p>
        </div>
        <div class="text-center my-8">
            <img src="{% static 'img/renata.jpg' %}">
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque ante non quam condimentum ultrices. Mauris consectetur quis lectus vitae sagittis. Aliquam imperdiet mattis lacinia. Sed interdum felis viverra ornare commodo. Mauris id libero velit. Aliquam eget finibus turpis. Cras sed felis arcu. Quisque eget finibus nibh. Proin lacus lorem, elementum nec sem et, imperdiet tempus lacus. Vivamus convallis sagittis porttitor. Mauris ac auctor massa, vel sollicitudin dolor.

Proin non consectetur mauris, non auctor metus. Phasellus vel turpis facilisis, aliquet arcu id, commodo lacus. Sed tincidunt nibh quis quam imperdiet dictum. Sed sit amet metus nisl. Sed vehicula nibh a ligula rutrum, et dapibus ante rhoncus. Phasellus eu consequat enim, nec pulvinar mi. In nec lobortis justo, et rhoncus tortor. Proin mollis bibendum scelerisque. Praesent iaculis dolor ut porttitor ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis vehicula nisl vitae commodo. Cras vitae blandit dui.

Donec in lacinia velit. Aenean ut est elementum, fringilla orci fermentum, accumsan felis. Vestibulum et mattis mauris, nec pharetra diam. Suspendisse ac turpis a tellus accumsan finibus. Donec ornare rhoncus dolor, et hendrerit dolor dictum et. Phasellus id fringilla dolor. Cras rhoncus mi vitae lacinia rhoncus.

Morbi magna lectus, volutpat ac egestas a, lobortis at erat. Vivamus et velit sit amet leo accumsan efficitur. Aliquam blandit sit amet dui a posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur id lacus vel nunc tincidunt malesuada sit amet eget lacus. Phasellus vitae sapien aliquam, aliquet urna non, euismod nulla. Suspendisse vitae libero aliquet, blandit nulla non, auctor nulla. Cras elementum ipsum ligula, vitae facilisis diam elementum a. Donec suscipit dui eget odio vestibulum commodo.

Morbi posuere sapien turpis, ut maximus tellus lobortis a. Aenean imperdiet dictum risus, imperdiet consequat ex placerat ac. Quisque ornare est ut vestibulum consequat. Donec id efficitur urna. Sed mattis turpis sit amet orci fringilla egestas. In iaculis tellus dolor, ut volutpat purus pharetra eu. Aliquam vel cursus erat, nec porta est. Cras ut massa fringilla, luctus dui iaculis, malesuada ligula. Mauris pretium mattis urna a finibus. Donec nulla lacus, tempor ac nibh id, consectetur gravida orci. Etiam suscipit sed orci vel consequat. Donec non nibh ultricies, hendrerit orci ut, facilisis nisi. In maximus tellus ac enim consequat, sit amet gravida ipsum rutrum.
                </p>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
{% endblock %}