{% extends 'base_index.html' %}
{% load static %}

{% block title %}
    <title>Kontakt</title>
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}

    <header class="header text-white">
      <div class="overlay opacity-75" style="background-color: #f6f0c4; background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);"></div>
      <div class="container text-center">

        <div class="row">
          <div class="col-md-8 mx-auto py-8">

            <h1 class="display-41">Renata Król</h1>
              <h3>Zapisz się na zajęcia</h3>

          </div>
        </div>

      </div>
    </header>

    <h1 class="mx-auto mt-6">Kontakt</h1>
    <hr>
    <h3 class="mx-auto">Dane kontaktowe:</h3>
    <div class="container mb-10 text-center mt-7">
        <p class="mx-auto">Numer telefonu: 784 123 099</p>
        <p class="mx-auto">Adres e-mail: renatajustynakrol@gmail.com</p>
        <p class="mx-auto">Facebook: Renata Król</p>
        <p class="mx-auto">Instagram: renatakrol</p>
    </div>

    {% include 'footer.html' %}
{% endblock %}