<!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="row gap-y align-items-center">

          <div class="col-6 col-lg-3">
          </div>

          <div class="col-6 col-lg-3 text-right order-lg-last">
            <div class="social">
              <a class="social-facebook" href="https://www.facebook.com/thethemeio"><i class="fa fa-facebook"></i></a>
              <a class="social-instagram" href="https://www.instagram.com/thethemeio/"><i class="fa fa-instagram"></i></a>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="nav nav-bold nav-uppercase nav-trim justify-content-lg-center">
              <a class="nav-link" href="{% url 'pages:about_me' %}">O mnie</a>
              <a class="nav-link" href="{% url 'pages:contact' %}">Kontakt</a>
              <a class="nav-link" href="{% url 'pages:gallery' %}">Galeria</a>
            </div>
          </div>

        </div>
      </div>
    </footer>
<!-- /.footer -->