{% extends 'base_index.html' %}
{% load static %}

{% block title %}
    <title>Galeria</title>
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <h1 class="text-center mt-10">Galeria</h1>
        <hr>
        <div class="row">
            <div class="col-lg-8 mx-auto mb-8">
                <div class="gallery gallery-4-type4" data-provide="photoswipe">
                <a class="gallery-item" href="{{ firstPhoto.photo.url }}">
                  <img src="{{ firstPhoto.photo.url }}">
                </a>
                <div class="gallery-item-group">
                    {% for p in photo %}
                        <a class="gallery-item" href="{{ p.photo.url }}">
                            <img src="{{ p.photo.url }}">
                        </a>
                    {% endfor %}
                </div>

                <div class="gallery-extra-items">
                    {% for p in photos %}
                        <a class="gallery-item" href="{{ p.photo.url }}">
                            <img src="{{ p.photo.url }}">
                        </a>
                    {% endfor %}
                </div>
              </div>
                <p class="mt-5 text-center">Kliknij w zdjęcie, aby zobaczyć więcej zdjęć</p>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}