<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-stick-dark" data-navbar="sticky">
      <div class="container">

        <div class="navbar-left">
          <button class="navbar-toggler" type="button">&#9776;</button>
          <a class="navbar-brand" href="{% url 'pages:home_page' %}">
            <h1>RenataKrol.pl</h1>
          </a>
        </div>

        <section class="navbar-mobile">
          <span class="navbar-divider d-mobile-none"></span>

          <nav class="nav nav-navbar">
            <a class="nav-link" href="{% url 'pages:home_page' %}">Strona główna</a>
            <a class="nav-link" href="{% url 'yoga:yoga_page' %}">Yoga</a>
            <a class="nav-link" href="{% url 'voice:voice_page' %}">Głos</a>
            <a class="nav-link" href="{% url 'pilates:pilates_page' %}">Pilates</a>
            <a class="nav-link" href="{% url 'pages:about_me' %}">O mnie</a>
            <a class="nav-link" href="{% url 'pages:contact' %}">Kontakt</a>
            <a class="nav-link" href="{% url 'pages:gallery' %}">Galeria</a>
          </nav>
        </section>

        <a class="btn btn-sm btn-round btn-danger" href="{% url 'prices:prices_page' %}">Cennik</a>

      </div>
    </nav>
<!-- /.navbar -->