{% extends 'base_index.html' %}
{% load static %}

{% block title %}
    <title>Yoga</title>
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}

<!-- Header -->
    <header class="header text-white pt-12 pb-10" style="background-image: url({{ header.photo.url }});">
        <div class="container">
            <h2 class="display-4">Renata Król</h2>
            <br>
            <h2 class="display-4">Yoga</h2>
        </div>
    </header>
<!-- /.header -->

        <main class="main-content">
            <section class="section">
                <div class="container">
                    <header class="section-header">
                        <small>Wpisy</small>
                        <h2>Yoga</h2>
                        <hr>
                    </header>

                <div class="row gap-y align-items-center">

                {% for post in posts %}
                    <div class="row gap-y align-items-center mt-7">
                        <div class="col-md-5 mx-auto">
                            <img class="rounded" src="{{ post.photo.url }}">
                        </div>
                        <div class="col-md-6 text-center text-md-left">
                            <h3>{{ post.title }}</h3>
                            <p>{{ post.description }}</p>
                            <br>
                            <a class="btn btn-outline-primary" href="{% url 'yoga:yoga_post' post.id %}">Czytaj dalej <i class="ti-arrow-right fs-9 ml-2"></i></a>
                        </div>
                    </div>
                {% endfor %}

                </div>
                </div>
            </section>
    </main>

    {% include 'footer.html' %}
{% endblock %}