{% extends 'base_index.html' %}
{% load static %}

{% block title %}
    <title>{{ post.title }}</title>
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}

        <div class="container">
            <div class="text-center mt-10">
                <h1>{{ post.title }}</h1>
                <p>{{ post.created_at }}</p>
            </div>
            <div class="text-center my-8">
                <img src="{{ post.photo.url }}">
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p class="lead">
                        {{ post.text }}
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="gallery gallery-4-type4" data-provide="photoswipe">
                        <a class="gallery-item" href="{{ post.photo.url }}">
                          <img src="{{ post.photo.url }}">
                        </a>
                        <div class="gallery-item-group">
                            {% for p in photos %}
                                 <a class="gallery-item" href="{{ p.photo.url }}">
                                    <img src="{{ p.photo.url }}">
                                 </a>
                            {% endfor %}
                        </div>
                  </div>
                </div>
            </div>
        </div>

    {% include 'footer.html' %}
{% endblock %}