{% extends 'base_index.html' %}
{% load static %}

{% block title %}
    <title>Cennik</title>
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <header class="header text-white">
      <div class="overlay opacity-75" style="background-color: #f876de; background-image: linear-gradient(315deg, #f876de 0%, #b9d1eb 80%);"></div>
      <div class="container text-center">

        <div class="row">
          <div class="col-md-8 mx-auto py-8">

            <h1 class="display-41">Cennik</h1>
              <h3>Zapisz się na zajęcia</h3>

          </div>
        </div>

      </div>
    </header>
    <div class="text-center h-600">
        <h1 class="mx-auto mt-10">Cennik</h1>
        <hr class="mb-10">
        {% for p in prices %}
            <p class="mx-auto">{{ p.text }}</p>
        {% endfor %}
    </div>
    {% include 'footer.html' %}
{% endblock %}